.container {
  list-style: none;
  margin-left: 300px;
  padding-left: 0;
  display: flex;
  column-gap: 20px;
  padding-bottom: 50px;
}
.header {
  margin-left: 300px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-right: 250px;
  margin-bottom: 40px;
  padding-top: 20px;
}
.header h4 {
  font-weight: 500;
}
.button button {
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
}
